$grey: #bdc3c7;
$turquoise: #1abc9c;

* {
    box-sizing: border-box;
}

body {
    background-color: $turquoise;
    margin: 0;
    padding: 0;
}

@import "grid";

[class*=col] {
    background-color: $grey;
    border-radius: 10px;
}

.row {
    margin-bottom: 20px;
}

.test {
    display: flex;
    flex-wrap: wrap;
}
